@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

body {
  font-size: 16px;
  background: #fdfdfd;
  font-family: "Noto Sans TC", "Roboto", "Helvetica Neue", "Segoe UI", "Helvetica", "Avenir Next", "Arial", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
  z-index: 999;
  .logo {
    transition: 0.2s;
    // font-size: 2rem;
    line-height: 80px;
    position: relative;
    font-style: italic;
    span {
      position: relative;
      color: rgb(0, 0, 0);
    }
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 60%;
      transform: translateY(0%);
      left: 10px;
      width: 100%;
      height: 6px;
      background-color: rgb(255, 230, 117);
    }
  }
  .links a {
    // transition: 0.2s;
    // line-height: 80px;
  }
}

.content article {
  margin: 20px 0;
  padding: 15px 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  p {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nav__trigger {
  display: block;
  // position: absolute;
  width: 30px;
  height: 30px;
  // right: 10px;
  // top: 10px;
  z-index: 200;
}

.nav--active .nav__trigger {
  // opacity: 0.5;
}

.nav__icon {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 5px;
  background-color: black;
  transition-property: background-color, transform;
  transition-duration: 300ms;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: black;
    transition-property: margin, transform;
    transition-duration: 300ms;
  }

  &:before {
    margin-top: -10px;
  }

  &:after {
    margin-top: 10px;
  }
}

.style-1 {
  .nav {
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
  }

  .nav__link {
    opacity: 0;
    transition-delay: 500ms;
  }

  .nav--active .nav__link {
    opacity: 1;
  }

  .nav--active .nav {
    transition: all 300ms ease;
    transform: translateX(0);
  }

  .nav--active .nav__icon {
    background: rgba(0, 0, 0, 0);

    &:before {
      margin-top: 0;
      transform: rotate(45deg);
    }

    &:after {
      margin-top: 0;
      transform: rotate(-45deg);
    }
  }
}
